.tile {
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

.tile.opened {
    background-color: #FFF;
}

.tile.closed {    
    background-color: #CCC;    
}

.tile.flagged {    
    background-color: red;    
}


.row {
    display: flex;
}